{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="background-color:#F1FAFA;">
<div  class="container">
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
    <p>Not registered yet? <a href="{% url 'register' %}">Register here</a></p>
</div>
<div>
{%for msg in messages%}
{{msg}}
{%endfor%}
</div>
{% endblock %}
</div>